@import "../../App.scss";
//SmartPhone
@media screen and (max-width: 499px) {  
.mlist-header-subcontainer .mlist-profile>a>span{
    display: none;
}
.mlist-title {
    font-size: 18px;
    width: 120px;
} 
.mlist-search {
    width: 152px;
    height: 32px;
}
.search-browser{
    display: none !important;
}
}
//Tablet && Browser
@media screen and (min-width: 500px) {  
.mlist-title {
    font-size: 20px;
    width: 130px;
}  
.mlist-search {
    width: 288px;
    height: 32px;
}
.search-mobile{
    display: none !important;
}
}

.mlist-header-subcontainer .mlist-profile{    
    margin-right: 3vh;
    float: right;

    >a {
        width: 32px;
        height: 32px;  
      

        >img {
            border-radius: 50% !important;
            margin-right: 10px;
            width: 32px;
            height: 32px;
            display: inline-block;
            vertical-align: middle;
        };

        >span {
            opacity: 0.75;
            font-family: Montserrat;
            font-size: 12px;
            color: $light !important;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);       
        };

        :hover {
            opacity: 1;
        }
    }
}
    

.mlist-header {
    padding: 24px 0 32px 24px;
    text-align: center;
}

.mlist-search {
    z-index: 100;
    border-radius: 16px !important;
    background-color: rgba(255, 255, 255, 0.15) !important;   
    font-family: Montserrat;
    font-size: 12px;
    font-style: italic;
    color: $light !important;

    &::selection {
        color: lightgray !important;
    };

    &:focus, &:active {
        border: 2px solid;
        border-color: gray !important;
        border-radius: 16px !important;    
    };

    >a{
        font-size: 12px;
    };   
}

.input-search-mobile {
       margin-top: 24px;

        >input {
        background-color: black !important;
        font-family: Montserrat;
        font-size: 12px;
        font-style: italic;
        color: $light !important;
        margin-left: 30px !important;
        border-bottom: 1px solid gray !important;

        &::selection {
            color: lightgray !important;
            };

        &:focus {
        };
        
        };
        
        button {
            background: none !important;
            right: 28px;
            position: inherit;
            >i {
                font-size: 16px !important;
            }
        };  

        i {
            color: $light !important;
            left: 20px !important;
            }  

}

.mlist-title {   
    letter-spacing: 1px;
    height: 24px;
    opacity: 0.5;
    font-family: 'Montserrat';
    margin-bottom: 10px !important;    
    text-align: end;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);      
}

.mlist-suggestion {
    letter-spacing: 1px;
    font-size: 15px;    
    margin-left: 32px;    
    list-style: none;
    padding: 5px;    
    font-family: 'Montserrat';
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);    
}

.mlist-logo {
    width: 128px;
    height: 32px;
    vertical-align: middle;
    object-fit: contain;
    float: left;
  }

  .search-mobile {
    >button {
        background: none !important;
        >i {
            font-size: 18px !important;
        }
    };   
  }

  .input-search-mobile.ui.input.focus>input, .input-search-mobile.ui.input>input:focus {
      border-top-color: black !important; 
      border-right-color: black !important; 
      border-left-color: black !important; 
      border-bottom-color: white !important;
  }
