//SmartPhone
@media screen and (max-width: 499px) {
    .movie-card-subcontainer {
        >h2 {
            font-size: 2.3vh !important;
        }
        >span {
            font-size: 1.5vh !important;
        }
    }
    .movie-card-container {
        width: 33.333%;
        padding: 1vh 1vh;
    }
}
//Tablet
@media screen and (max-width: 1099px) and (min-width: 500px) {
    .movie-card-subcontainer {
        >h2 {
            font-size: 2.5vw !important;
        }
        >span {
            font-size: 1.5vw !important;
        }
    }
    .movie-card-container {
        width: 20%;
        padding: 1vh 1vh;
    }
}
//Browser
@media screen and (min-width: 1100px) {
    .movie-card-subcontainer {
        >h2 {
        font-size: 2vw !important;
        }
        >span {
        font-size: 1.3vw !important;
        }
    }
    .movie-card-container {
        width: 16.667%;
        padding: 3vh 3vh;
    }
}

.movie-card-container {
    float: left;
    z-index: 1;
    position: relative;
    white-space: normal;
    vertical-align: top;
}

.movie-card-subcontainer {
    border-radius: 1%;
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
    padding: 75% 0;
    cursor: pointer;

    &:hover .overlay-content {
        opacity: 0.6;
    }
    &:hover .light-color {
        opacity: 1;
    }
   
    .overlay-content {
        position: absolute;
        transition: .5s ease;
        background-color: black;
        opacity: 0;
        width: 100%;
        height: 102%;
        transform: translateY(-50%);
    }
    
    .light-color {       
        opacity: 0;
        transition: .5s ease;
        bottom: 50px;
        position: relative;       
    }
}

.movie-card-subcontainer>img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}