//SmartPhone
@media screen and (max-width: 499px) {
    .poster-img{
        min-height: auto !important;
        min-width: 105vw !important;
        opacity: 0.6 !important;
    }
    .mobile-img-container{
        -webkit-mask-image: linear-gradient(to top, transparent 0%, black 15%);
            mask-image: linear-gradient(to top, transparent 0%, black 15%);
    }     
    .info-content{
        position: absolute !important; 
        bottom: 2vh !important;
        left: 7vw !important;
        >h1 {
            >p {
                font-size: 4vw !important;
            }
            font-size: 10vw !important;
        }
        >h3 {
            font-size: 6.3vw !important;
        }
        >h4 {
            font-size: 3.4vw !important;
        }
    }
    .back-times-buttom {
        right: 0;
        top: 1vh !important;        
    }
}

.back-buttom {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.back-times-buttom {
    position: absolute;
    line-height: none !important;
    right: 5vw;
    top: 2vh;   
    background: none !important;
    >i {
        font-size: 3vh !important;
        float: left !important;
    }
    >span {
        margin-left: 1vw !important;
        opacity: 0.75;
        font-size: 2vh;
    }
}

.content {
    height: 100vh;
}

.info-content {
    max-width: 90%;
    >h1 {
        >p{
            font-size: 2.4vh;
        }
        font-size: 7vh;
    }
    >h3 {
        opacity: 0.5 !important;
        font-size: 3.3vh ;
    }
    >h4 {
        font-size: 2.4vh;
    }
}

.shadow-text {    
    opacity: 0.75;
    font-family: 'Montserrat';
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);     
}

.poster-img {
    min-height: 100vh;
    max-width: 100%;
}
.poster-img-container {
    -webkit-mask-image: linear-gradient(to left, transparent 15%, black 32%);
    mask-image: linear-gradient(to left, transparent 15%, black 32%);
}

.score {    
    display: inline-flex;
    vertical-align: middle;
    >img {
        margin: 1px;
        margin-left: 5px; 
        height: 3vh !important;
    }
    >span {
        margin-left: 20px; 
        margin-top: 2px;
        margin-top: 0.3vh;
        font-size: 2vh;
    }
}