$backgroundColor:  #000000;
$mainColor: #f19a3d;
$light: #FFFFFF;

.wrapper {
    background-color: $backgroundColor !important;
}

.main-color {
    color: $mainColor !important;
}

.light-color {
    color: $light !important;
}

.center-loader {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.center-div {
   display: inline-block;
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}
